:root{
    --pembe: #e91546;
    --turuncu:#fc6f22;
    --yesil: #71b908;
    --koyumavi: #075192;
    --acikmavi: #1295D5;
}
header{
    background-color: #075192;
    padding-top: 20px;
}
#ana-menu{
    background-color: #075192; ;
}
.gri-arkaplan{
    background-color: #c3d9eb;
}
#ana-menu .nav-link{
    color: white;
}
#meb-baslik{
    color: #0c63a9;
}
#okul-baslik{
    color: #1295d5;
}
#baglantilar .list-group-item{
    color: #ecf1f5;
    background-color: #0c63a9;
}
#liste-baslik{
    height: 70px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}
.slider-aciklama{
    background-color: rgba(0, 0, 0, 0.41);
    padding: 10px;
}
.carousel-indicators [data-bs-target]{
    width: 30px;
    height: 10px;
    background-color: #1295d5;
    border: solid #fff 3px;
}

#haber_baslik,#duyuru_baslik,#islem_baslik{
    padding: 15px;
    text-align: center;
    color: #c3d9eb;
    font-size: 1.5rem;
  border-bottom-right-radius: 35px;
}
#haber_baslik{
    background-color: var(--pembe);
}
#duyuru_baslik{
    background-color: var(--turuncu);
}
#islem_baslik{
    background-color:var(--yesil);
}
.alt-baslik{
    color: var(--koyumavi);
}
#haberler .list-group-item:hover{
    color: var(--pembe);
}
.table th{
    color: var(--acikmavi);
}
.kurum-resim{
    height: 100px;
    width: 200px;
}
.devam{
   background-color: var(--acikmavi);
   padding: 10px;
   width: 100px;
 max-height: fit-content;
   color: #c3d9eb;
  
}
